# Python
__pycache__/
*.pyc

# MacOS
.DS_Store

# Virtuelle Umgebung
.venv/

# Jupyter
*.ipynb_checkpoints

# Ignore Jupyter notebooks
notebooks/

# Rohdaten nicht ins Repo
# Data/Raw/

#API Token sportmonks
*.env

# LinkedIn Posts
LinkedIn Posts/