streamlit==1.51.0
pandas==2.3.3
numpy==2.3.5
altair==5.5.0
matplotlib==3.10.7
mplsoccer==1.6.1
scikit-learn==1.7.2
scipy==1.16.3
requests==2.32.5
beautifulsoup4==4.14.2
lxml==6.0.2
tqdm==4.67.1
pyarrow==21.0.0
python-dotenv==1.2.1
GitPython==3.1.45
kaggle==1.7.4.5
rapidfuzz==3.12.2
fpdf2==2.8.3
plotly==6.5.2